<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache" content="no-cache">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<meta name="author" content="$1">
		<meta name="keywords" content="$2">
		<meta name="description" content="$3">
		<title>$4</title>
		<link rel="stylesheet" type="text/css" href="$5">
	</head>
	<body>
		$7
		<script type="text/javascript" src="$6"></script>
	</body>
</html>
